# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# Mac files
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Antigravity
.agents/